@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular;
@using MyHomePage.Code;

<FluentNavMenu Width=200>
    <div class="my-closemenu">
        <FluentIcon Value=@References.Icons.Close
                    Title=@AppRessources.NavMenu_CloseMenu_Title
                    OnClick=@ItemClickedHandler />
    </div>
    <div class="my-items" @onclick=@ItemClickedHandler>
        <FluentNavLink Icon=@References.Icons.Home
                       Match=NavLinkMatch.All
                       Href="/">
            @AppRessources.NavMenu_Page_Home
        </FluentNavLink>

        <FluentNavLink Icon=@References.Icons.CV
                       Href="/resume">
            @AppRessources.NavMenu_Page_MonCV
        </FluentNavLink>

        <FluentNavLink Icon=@References.Icons.Personnel
                       Href="/perso">
            @AppRessources.NavMenu_Page_Personnel
        </FluentNavLink>

        <FluentNavLink Icon=@References.Icons.Info
                       Href="/apropos">
            @AppRessources.NavMenu_Page_Apropos
        </FluentNavLink>

        <FluentNavLink Icon=@References.Icons.Options
                       Href="/options">
            @AppRessources.NavMenu_Page_Options
        </FluentNavLink>

        <FluentNavGroup Icon=@References.Icons.Famille
                        Title=@AppRessources.NavMenu_Page_Famille>
            <FluentNavLink Icon=@References.Icons.Lien
                           Target="_blank"
                           Href="https://remy.portet.org">
                Rémy
            </FluentNavLink>
            <FluentNavLink Icon=@References.Icons.Lien
                           Target="_blank"
                           Href="https://trystan.portet.org">
                Trystan
            </FluentNavLink>
        </FluentNavGroup>
    </div>
    <div class="my-info">
        <span>@appConfig.VersionString</span>
    </div>
</FluentNavMenu>

