@if (_hasFile)
{
    <div id="pdfViewer">
        <object class="my-container"
                id="@_pdfContainerId"
                data="@_file"
                type="@_fileType">
            <p>
                @AppRessources.MyFullPageViewer_NotSupported_Text
                @if (ShowDownloadLinkIfNotSupported)
                {
                    <a href=@_file target="_blank">@AppRessources.MyFullPageViewer_NotSupported_Download</a>
                }
            </p>
        </object>
    </div>
}
else
{
    <p>@AppRessources.MyFullPageViewer_MissingFile</p>
}